<div>
  <h1 class="font-bold text-4xl">The Green Mountain Trading Post</h1>
  <h3>Proof of Concept, Nov 2022</h3>
  <p>Using Ruby on Rails with AWS, Devise and Stripe checkout abilities, we are establing an 
  easy to use platform for the community members of the North East Kingdom to 
  advertise on a local level. </p>
</div>
