<footer class="footer">
  <small>
    This web application was created by  <a href="https://www.honeymkr.solutions/">Honeymkr Solutions</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Faq",   '#' %></li>
      <li><%= link_to "Support", '#' %></li>
    </ul>
  </nav>
</footer>